@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura Bold.otf") format("OpenType");
}

.App {
  text-align: center;

}

.App-header {
  background-color: #8dc4e8;;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  font-family: "Futura", sans-serif;
}

